<form novalidate #form="ngForm" class="d-flex flex-column align-items-center ">
    <div class="content-titles">
        <h1 class="fw-bold custom-title">Geração de Certificado</h1>
        <p class="mb-4 custom-subtitle">Preencha os dados para gerar um novo certificado</p>
    </div>

     <div class="custom-card w-100">

        <h2 class="card-title">Novo certificado</h2>

        <div class="mb-3 custom-input-group">
            <label [ngClass]="{'text-danger-label': campoValido(nomeRef)}" class="form-label" for="nome">Nome</label>
            <input [(ngModel)]="certificado.nome" #nomeRef="ngModel" name="nome" maxlength="150" required id="nome" type="text" class="form-control custom-input" placeholder="Ex: Gustavo Henrique">
            @if (campoValido(nomeRef)) {
                <div class="error-message d-flex align-items-center">
                    <i class="ph ph-warning-circle"></i>
                    <p class="m-0">Nome do aluno é obrigatório!</p>
                </div>
            }
        </div>
        <div class="mb-3 d-flex align-items-end">
            <div class="flex-grow-1 me-2 custom-input-group">
                <label class="form-label" for="atividade">Atividade</label>
                <input #atividadeRef="ngModel" maxlength="50" name="atividade" required [(ngModel)]="atividade" id="atividade" type="text" class="form-control custom-input" placeholder="Ex: Curso de Angular">
            </div>
            <app-secundary-button 
                (click)="adicionarAtividade()" 
                [textoBotao]="'Adicionar'"
                [phClass]="'ph ph-plus'"
                [disabled]="!atividade || atividade.length == 0"
            ></app-secundary-button>
        </div>
        <div class="atividade-group custom-input-group">
            <label class="form-label" for="">Lista de atividades</label>
            <div class="item-list w-100">
                @for(item of certificado.atividades; track $index) {
                <div class="item">
                    <span class="item-text">{{item}}</span>
                    <div (click)="removeAtividade($index)" class="remove-btn">
                        <i class="ph-bold ph-x"></i>
                    </div>
                </div>
                @if($index + 1 < certificado.atividades.length) {
                    <hr>
                }
                }   
            </div>
        </div>
        <app-primery-button (click)="submit()" [disabled]="!formValido()" [textoBotao]="'Gerar Certificado'" class="w-100">Gerar certificado</app-primery-button>
    </div>
</form>
