
<div class="d-flex flex-column align-items-center ">
    <div class="d-flex justify-content-between align-items-center menu-certificado w-100">
        <div class="d-flex align-items-center btn-voltar">
            <i class="ph ph-arrow-left"></i>
            <p class="mb-0 btn-voltar">
                Voltar
            </p>
        </div>
        <app-secundary-button></app-secundary-button>
    </div>
    <div class="certificado d-flex justify-content-center align-items-center">
        <img src="../../../../public/certificate-ribbon.png" alt="Ícone de Medalha" class="icone-medalha">
        <div class="conteudo-certificados">
            <div class="info-certificado">
                <div>
                    <h1 class="titulo-certificado">CERTIFICADO DE CONCLUSÃO</h1>
                    <p>Este certificado comprova que</p>
                </div>
                <div>
                    <p>Gustavo Karnopp</p>
                    <p>Concluiu com sucesso as seguintes atividades</p>
                    <p>Into dução ao Angular, configuração com Angular CLI, Criação de componentes reutilizáveis...</p>
                </div>

            </div>
        </div>
    </div>
</div>