
<div class="d-flex flex-column align-items-center ">
    <div class="d-flex justify-content-between align-items-center menu-certificado w-100">
        <div routerLink="/" class="d-flex align-items-center btn-voltar">
            <i class="ph ph-arrow-left"></i>
            <p class="mb-0 btn-voltar">
                Voltar
            </p>
        </div>
        <app-secundary-button></app-secundary-button>
    </div>
    <div class="certificado d-flex justify-content-center align-items-center">
        <img src="certificate-ribbon.png" alt="Ícone de Medalha" class="icone-medalha">
        <div class="conteudo-certificados">
            <img class="img-assinatura" src="certificate-signature.svg" alt="Assinatura">
            <div class="info-certificado d-flex flex-column align-items-center">
                <div class="tittulo-subtitulo-certificado">
                    <h1 class="titulo-certificado">CERTIFICADO DE CONCLUSÃO</h1>
                    <p>Este certificado comprova que</p>
                </div>
                <p class="nome-aluno" >Gustavo Karnopp</p>
                <div>
                    <p class="lista-atividade-titulo">Concluiu com sucesso as seguintes atividades</p>
                    <p class="lista-atividade">Into dução ao Angular, configuração com Angular CLI, Criação de componentes reutilizáveis...</p>
                </div>
                <p class="data-emissao">Emitido em 25/04/2025</p>
            </div>
        </div>
    </div>
</div>