.menu-certificado{
   max-width: 800px;
}

.btn-voltar{
    gap: 6px;
}

.btn-voltar p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #64748B;
}

.btn-voltar i {
    font-size: 20px;
    color: #64748B;
}

.certificado{
    margin-top: 32px;
    background-image: url('../../../../public/certificate-bg.png');
    width: 800px;
    height: 550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;   
    position: relative;
}

.conteudo-certificados{
    width: 720px;
    height: 470px;
    background-color: #fff;
    border-radius: 8px;
}

.icone-medalha{
    position: absolute;
    top: 12px;
    left: 12px;
}

.info-certificado {
    margin: 64px 40px auto 40px;
}

.info-certificado h1 {
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 160px;
    letter-spacing: 10%;
    color: #1A2856;
}